@media (max-width: 1010px) {
    .catalog {
        &__content {
            &__item {
                width: 47%;
                margin-left: 10px;
                &_left {
                    margin-right: 0;
                }
            }
        }
    }                     
}
@media (max-width: 991px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 822px) {
    .container {
        max-width: 650px;
    }
    .title {
        &_left {
            font-size: 30px;
            line-height: 50px;
        } 
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
       
}

@media (max-width: 680px) {
    .container {
        max-width: 550px;
    }
    .header {
        &__official {
            font-size: 13px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__logo {
            width: 200px;
        }
    }
    .button {
        width: 123px;
        font-size: 11px;
        &_main {
            width: 240px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
        &_mini {
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .title {
        font-size: 27px;
        &_left {
            font-size: 25px;
            line-height: 45px;
        }
    }
    .advantages {
        &__subtitle {
            font-size: 18px;
        }
        &__descr {
            font-size: 14px;
        }
        &_1 {
            width: 100%;
        }
        &_2 {
            width: 100%;
        }
    }
    .catalog {
        &-item {
            width: 48%;
        }
    }
}

@media (max-width: 567px) {
    .container {
        max-width: 450px;
    }
    .header {
        &__official {
            font-size: 10px;
            span {
                font-size: 13px;
            }
        }
        &__phone {
            font-size: 13px;
        }
        &__logo {
            width: 176px;
        }
    }
    .button {
        width: 120px;
        font-size: 11px;
        &_main {
            height: 40px;
            width: 196px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
        &_mini {
            width: 90px;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .title {
        font-size: 23px;
        &_left {
            font-size: 20px;
            line-height: 35px;
        }
    }
    .advantages {
        &__subtitle {
            font-size: 13px;
        }
        &__descr {
            font-size: 11px;
        }
        &_1 {
            width: 100%;
        }
        &_2 {
            width: 100%;
        }
    }
    .consultation {
        &__descr {
            font-size: 17px;
            line-height: 24px;           
        }
    }
    .catalog {
        &__tab {
            font-size: 14px;
            width: 100%;
        }
        &-item {
            width: 47%;
            margin-left: 10px;
            &_left {
                margin-right: 0;
            }
            &__img {
                height: 180px;
            }
            &__price {
                font-size: 15px;
            }   
            &__old-price {
                font-size: 13px;
            }
            &__list {
                height: 377px;
                li {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }            
        }
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 400px;
    }
    .header {
        &__official {
            font-size: 9px;
            span {
                font-size: 13px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        &__logo {
            width: 140px;
        }
    }
    .button {
        width: 100px;
        height: 25px;
        font-size: 9px;
        &_main {
            width: 170px;
            font-size: 11px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .title {
        font-size: 22px;
    }
    .advantages {
        &__subtitle {
            font-size: 12px;
        }
        &__descr {
            font-size: 11px;
        }
        &_1 {
            width: 100%;
        }
        &_2 {
            width: 100%;
        }
    }

}

@media (max-width: 425px) {
    .container {
        max-width: 350px;
    }
    .header {
        &__official {
            font-size: 8px;
            span {
                font-size: 11px;
            }
        }
        &__phone {
            font-size: 10px;
        }
        &__logo {
            width: 120px;
        }
    }
    .button {
        width: 90px;
        height: 22px;
        font-size: 8px;
        &_main {
            width: 135px;
            height: 25px;
            font-size: 9px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
        &_mini {
            width: 60px;
            height: 22px;
            font-size: 8px;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 276px;
        }
        &__icon {
            font-size: 11px;
        }
        &__link {
            font-size: 11px;
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        &__subtitle {
            font-size: 11px;
        }
        &__descr {
            font-size: 10px;
        }
    }
    .catalog {
        &__tab {
            font-size: 12px;
        }
        &-item {
            min-height: 413px;
            &__img {
                height: 150px;
            }
            &__subtitle {
                font-size: 14px;
                margin-top: 10px;
            }
            &__descr {
                line-height: 16px;
                font-size: 10px;
                margin-top: 8px;
            }
            &__list {
                height: 300px;
                li {
                    font-size: 10px;
                    margin-bottom: 0;
                }
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 12px;
            }
            &__link {
                font-size: 10px;
            }
            &__back {
                font-size: 10px;
            }
            &_active {
                transform: translateX(-120%);
            }
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            &:nth-child(2) {
                margin-top: 40px;
            }
        }
        &__text {
            margin-top: 40px;
        }
        &__img {
            margin: 0 auto;
            width: 150px;
            height: 150px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__place {
            font-size: 12px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .modal {
        &__close {
            top: 12px;
            right: 7px;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 288px;
    }
    .header {
        flex-direction: column;
        height: 150px;
        &__official {
            font-size: 13px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        &__logo {
            width: 200px;
        }
    }
    .button {
        width: 125px;
        height: 30px;
        font-size: 11px;
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
        &_main {
            font-size: 10px;
        }
        &_mini {
            font-size: 12px;
        }
    }
    .promo {
        min-height: 400px;
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 297px;
        }
        &__icon {
            font-size: 11px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        padding: 40px 0 50px 0;
        &__wrapper {
            flex-direction: column;
            margin-top: 50px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 10px;
        }
        &__descr {
            font-size: 11px;
            margin-top: 5px;
            width: 70%;
        }
        &__item {
            max-width: 300px;
        }
    }
    .catalog {
        &__tab {
            font-size: 10px;
        }
        &-item {
            min-height: 413px;
            width: 100%;
            &__img {
                height: 200px;
            }
            &__subtitle {
                font-size: 16px;
                margin-top: 15px;
            }
            &__descr {
                line-height: 22px;
                font-size: 14px;
                margin-top: 15px;
            }
            &__list {
                li {
                    font-size: 14px;
                    margin-bottom: 13px;
                }
            }
            &__old-price {
                font-size: 14px;
            }
            &__price {
                font-size: 20px;
            }
            &__link {
                font-size: 14px;
            }
            &__back {
                font-size: 14px;
            }
        }
    }
    .modal {
        width: 354px;
    }
    .footer {
        &__info {
            width: 100%;
        }
        &__addr {
            font-size: 18px;
        }
        &__social-item {
            height: 45px;
            img {
                height: 25px;
            }
        }
    }
}

@media (max-width: 320px) {
    .feed-form {
        width: 240px;
    }
    .modal {
        width: 300px;
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .button {
        &_submit {
            font-size: 15px;
        }
    }    
}

@media (max-width: 280px) {
    .container {
        max-width: 200px;
    }
    .header {
        flex-direction: column;
        height: 150px;
        &__official {
            font-size: 13px;
            margin-top: 3px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        &__logo {
            width: 200px;
        }
    }
    .button {
        font-size: 10px;
        &_main {
            width: 150px;
            height: 30px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 14px;
        }
        &_mini {
            width: 70px;
            font-size: 9px;
        }
    }
    .feed-form {
        width: 200px;
        input {
            padding: 0 85px 0 20px;
        }
    }
    .promo {
        min-height: 400px;
        &__header {
            font-size: 19px;
        }
        &__subheader {
            font-size: 9px;
        }
        &__icons {
            width: 200px;
        }
        &__icon {
            font-size: 8px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .title {
        font-size: 15px;
        &_left {
            font-size: 10px;
            line-height: 22px;
        }
    }
    .advantages {
        padding: 40px 0 50px 0;
        &__wrapper {
            flex-direction: column;
            margin-top: 50px;
        }
        &__subtitle {
            font-size: 13px;
            margin-top: 5px;
        }
        &__descr {
            font-size: 10px;
            margin-top: 5px;
            width: 70%;
        }
        &__item {
            max-width: 300px;
        }
    }
    .consultation {
        &__descr {
            font-size: 12px;
            line-height: 20px;           
        }
    }
    .catalog {
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            font-size: 6px;
            line-height: 30px;
            height: 33px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            &__img {
                height: 130px;
            }
            &__subtitle {
                font-size: 12px;
            }
            &__descr {
                font-size: 11px;
            }
            &__link {
                font-size: 10px;
            }
            &__price {
                font-size: 12px;
            }
            &__old-price {
                font-size: 10px;
            }
            &__list {
                li {
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
            &__back {
                font-size: 10px;
            }
        }
    }
    .reviews {
        &__img {
           width: 100px;
           height: 100px; 
        }
        &__text {
            margin-top: 30px;
            margin-left: 50px;
            padding-right: 30px;
        }
        &__subtitle {
            font-size: 12px;
        }
        &__place {
            font-size: 9px;
        }
        &__descr {
            font-size: 9px;
        }
    }
    .modal {
        width: 260px;
    }
    .footer {
        &__info {
            padding: 40px;
            height: 250px;
        }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            height: 35px;
            img {
                height: 18px;
            }
        }
    }
}
